body {
    background: rgba(63, 100, 150, 0.493);
}

#container {
    display: flex;
    width: 800px;
	height: 533px;
    margin: 80px auto;
    padding: auto;
    background: linear-gradient(0deg, #FFD500 0 50%, #265cc0 50% 100%);
}

#date-time {
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: rgb(167, 29, 29) 0 0 10px;
    color: #FF0700;
    text-align: center;
    vertical-align: middle;
}

